<h1>Welcome to Freshworks Buzz, <%= @user.name %></h1>
  <p>
    You have successfully signed up to Freshworks Buzz,
    your username is: <%= @user.email %>.<br>
  </p>
<p>Thanks for joining and have a great day!</p>