// $brand-primary: 'purple';

body {
	font-size: 16px;
    background-color: #202529;
    letter-spacing: .5px;
    color: #efefef;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

header {
	.navbar {
		background-color: #191d20;
	}
}


aside {
	nav {
		.nav-link {
			color: #848687;
			font-size: 14px;
			font-weight: 400;

			&.active {
				color: #efefef;
				background-color: #191d20;
			}

			&:hover {
				color: #efefef;
			}
		}
	}
}

.buzz-bg {
    background-color: #191d20;
}

.table {
	color: #efefef;
	border-color: #666;
	
	& > :not(:last-child) > :last-child > * {
		border-color: #666;	
	}

	th {
		color: #a3a3a3;
		text-transform: uppercase;
		font-size: 12px;
		font-weight: 400;
	}

	.time {
		font-size: 12px;
		text-transform: uppercase;
		color: #a3a3a3;
	}
}

.page-item {
	.page-link {
		font-size: 12px;
		letter-spacing: 1px;
		text-transform: uppercase;
		color: #a3a3a3;
		border-color: hsla(0,0%,94%,.1);
		background-color: transparent;
	}

	&.active {
		.page-link {
			color: #f9f9f9;
			background-color: transparent;
			border-color: hsla(0,0%,94%,.1);
		}
	}
}

.search-container {
	letter-spacing: 1px;
	text-transform: uppercase;

	.search-item {
		font-size: 12px;
			
		color: #848687;
		border: 1px solid hsla(0,0%,94%,.1);
		background-color: transparent;
	}

	label {
		font-size: 12px;
		text-transform: uppercase;
		color: #848687;
	    font-weight: 300;
	}
}

.comments {
	border: 1px solid hsla(0,0%,94%,.1);

	.comment {
		color: #efefef;
		background-color: transparent;
		&:not(:last-child) {
			border-bottom: 1px solid #666;
		}
	}
}