<header>
    <nav class="navbar navbar-dark navbar-expand-md">
        <div class="container-xxl flex-wrap flex-md-nowrap">
        	<a href="/" class="navbar-brand fs-3 fw-light">WHAT's Happening!</a>
    </nav>
</header>

<main>
	<div class="container-xxl py-5">

		<div class="card buzz-bg p-4">
			<header>
				<h2 class="fs-3 fw-light">New User</h2>
			</header>

			<%= render 'form' %>

			<%= link_to 'Back', users_path %>
		</div> 
    </div>
</main>



