<div class="col col-sm-2">
    <aside>
        <nav class="nav flex-column">
            <a class="nav-link p-3 mb-1 rounded-3 active" aria-current="page" href="#"># All</a>
            <a class="nav-link p-3 mb-1 rounded-3" href="#"># Link</a>
            <a class="nav-link p-3 mb-1 rounded-3" href="#"># Link</a>
            <a class="nav-link p-3 mb-1 rounded-3" href="#"># Disabled</a>
        </nav>
    </aside>
</div>