<td class="p-3 ps-0" scope="row">
    Today <br>
    <span class="time">06:51 PM</span>
</td>
<td class="p-3">Narendran Velmurugan</td>
<td class="p-3 pe-0">Full day powercut at my locality. I'll be taking off today.</td>