<div class="row py-5">
    
    <Events::Categories />

    <div class="col">
        <section class="buzz card p-4">
            <Events />
        </section>
    </div>

    <Events::Comments />
</div>